<div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="imageUrl">Image</label>
        <input type="text" name="imageUrl" class="form-control" id="" placeholder="Enter image url">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" name="price" class="form-control" id="" placeholder="Enter price">
    </div>