<form method="post">
    @PartialViews.ValidationPartial
    @PartialViews.CommonFormFieldsPartial

    <div class="form-group">
        <label for="graphicalProcessor">Graphical Processor (in GHz)</label>
        <input type="text" name="graphicalProcessor" class="form-control" id="" placeholder="">
    </div>
    <div class="form-group">
        <label for="capacity">Capacity (in GB)</label>
        <input type="number" name="capacity" class="form-control" id="" placeholder="Enter capacity">
    </div>
    <div class="form-group">
        <label for="memoryType">Memory Type</label>
        <input type="text" name="memoryType" class="form-control" id="" placeholder="Enter memory type">
    </div>
    <div class="form-group">
        <label for="interfaces">Interfaces</label>
        <input type="text" name="interfaces" class="form-control" id="">
    </div>
    <div class="form-group">
        <label for="directXSupport">DirectX Support</label>
        <input type="text" name="directXSupport" class="form-control" id="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>